            <div class="container white">
                <div class="row">
                    <h1 class="text-center py-3">About me</h1>
                </div>
                <div id="about" class="section hiding_content">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-7 underlined text-center">
                            <h3>
                                Currently I am IT technical specialist who is already working over 10 years with almost
                                all
                                common
                                used IT technology’s standards and infrastructure devices. I am employee of Diebold
                                Nixdorf
                                Company
                                as application administrator for many internal applications.
                            </h3>
                            <p class="">
                                Diebold Nixdorf providing monitoring of ATMs
                                and payment transactions for different external customers mainly EU.
                                (approx. 9000 ATMs – UK, DN banks). My responsibilities are to deliver
                                24/7 functional environment, setup all necessary applications, requests for
                                other teams to setup infrastructure architecture design of environment.
                                Organize and solving nonstandard requests for customers under time
                                pressure. I think personally, I am team player member and also I like to
                                discuss about possible issues and how to prevent possible problems. I am
                                very focused on results and I have ability to fast learning a new things. I
                                like to meet new people and I am adaptable in teams with multiplatform
                                environments. Personally I would like to participate as DevOps engineer. I
                                like the responsibility, flexibility and philosophy of this “system”.
                            </p>
                        </div>
                        <div
                            class="col-12 order-first col-sm-12 order-sm-first col-md-5 order-md-last text-center align-self-center">

                            <div class="row">
                                <div class="col">
                                    <img class="img_me_personal img-fluid " src="{% static 'peter_pekny_page/images/Randy_Lorde.webp' %}"
                                        alt="Personal Image">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="btn">
                                        <form action="doc/CV_Peter_Pekny_EN.pdf">
                                            <!-- <button type="submit" class="btn button_style">Download CV</button> -->
                                            <button type="submit" class="btn btn-outline-myColor mb-5 mt-3">Download
                                                CV</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
