            <div class="container whgrey text-center">
                <div class="row">
                    <h1 class="py-3">Contacts</h1>
                </div>
                <div id="contacts" class="hiding_content">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-3 fa_settings text-center">
                            <h3>phone:</h3>
                            <h2><i class="fa-solid fa-phone-flip"></i></h2>
                            <p>&plus;&#x34;&#x32;&#x30;&#x20;&#x37;&#x32;&#x38;&#x20;&#x30;&#x36;&#x30;&#x20;&#x39;&#x38;&#x38;
                            </p>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 fa_settings text-center">
                            <h3>email</h3>
                            <h2><i class="fa-solid fa-envelope"></i></h2>
                            <p>&#x70;&#x65;&#x74;&#x65;&#x72;<span><i
                                        class="fas fa-at"></i></span>&#x70;&#x65;&#x6b;&#x6e;&#x79;&period;&#x6f;&#x6e;&#x6c;&#x69;&#x6e;&#x65;
                            </p>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 fa_settings text-center">
                            <h3>website</h3>
                            <h2><i class="fa-solid fa-globe"></i></h2>
                            <p>
                                &#x68;&#x74;&#x74;&#x70;&#x73;&#x3A;&#x2F;&#x2F;&#x70;&#x65;&#x74;&#x65;&#x72;&#x2E;&#x70;&#x65;&#x6B;&#x6E;&#x79;&#x2E;&#x6F;&#x6E;&#x6C;&#x69;&#x6E;&#x65;
                            </p>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 fa_settings text-center">
                            <h3>LinkedIN</h3>
                            <h2><a href="https://www.linkedin.com/in/peter-pekny-a8a208a5/"><i
                                        style="color: #626e94 !important" class="fa-brands fa-linkedin"></i></a></h2>
                            <p>
                                Peter Pekny
                            </p>
                        </div>
                    </div>
                </div>
            </div>