            <div class="container white text-center">
                <div class="row">
                    <h1 class=" py-3">education</h1>
                </div>
                <div class="hiding_content" name="curriculum">
                    <div class="odstrelenie-od-hora">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="kratky-blok-vzdelanie fa_settings">
                                    <h2><i class="fa-solid fa-calendar-days"></i> 2010 - 2013</h2>
                                    <h3><a href="https://www.uniza.sk/index.php/en/">Technical University of Žilina
                                        </a></h3>
                                    <span class="single-timeline-horizontal"></span>
                                    <h3 class="title">
                                        Žilina, Slovakia
                                    </h3>
                                    <h3>New sciences and multimedia sciences</h3>
                                    <p class="description">
                                        Bachelor degree in new sciences and multimedia sciences and psychology of
                                        marketing.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="kratky-blok-vzdelanie fa_settings">
                                    <h2><i class="fa-solid fa-calendar-days"></i> 1995 - 1999</h2>
                                    <h3><a href="https://spsjm.sk/">Stredná priemyselná škola Jozefa Murgaša
                                        </a>
                                    </h3>
                                    <span class="single-timeline-horizontal"></span>
                                    <h3 class="title">
                                        Banská Bystrica, Slovakia
                                    </h3>
                                    <h3>
                                        Electrical engineering, telecommunication and computer technologys.
                                    </h3>
                                    <p class="description">
                                        Slovak middle school of Electrical engineering, telecommunication and computer
                                        technologys.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>