            <div class="container text-center whgrey">
                <div class="row">
                    <h1 class="py-3">Email Me</h1>
                </div>
                <div id="emailme" class="hiding_content">
                    <form class="page-email-form" id="page-email-form">
                        <div class="row">
                            <div class="col-12 col-md-6 form-color form-custom-font form-group">
                                <div class="mt-1 p-3">
                                    <label for="email" class="form-label">Your Email</label>
                                    <input type="email" class="form-control hranate-rohy form-contro" id="email"
                                        name="email" placeholder="put your email address">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-color form-custom-font form-group">
                                <div class="mt-1 p-3">
                                    <label for="name" class="form-label">Your Name</label>
                                    <input type="text" class="form-control hranate-rohy form-contro" id="name"
                                        name="name" placeholder="put your name here:">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-color form-custom-font form-group">
                                <div class="mb-2 p-3">
                                    <label for="message" class="form-label">Your Message:</label>
                                    <textarea class="form-control hranate-rohy" id="message" name="message"
                                        style="height: 120px;" placeholder="Type your message here ..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row  justify-content-center">
                            <div class="col-12">
                                <div class="form-color form-custom-font form-group">
                                    <div class="mb-2 form-check">
                                        <input type="checkbox" class="form-check-input" style="float: unset !important;"
                                            id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">I aggree with
                                            GDPR</label>
                                    </div>
                                    <button class="btn btn-outline-myColor mb-3" type="submit"
                                        id="page-form-submit">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <!-- Naiste mi - 2 -->
            <!-- Tlačidlo Email Me v navigačnom bare -->
            <!-- Modal okno - emailový formulár -->
            <div id="loginModal" class="modal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <h4 class="font_beckman">Hello Admin, please login ...</h4>
                    <form id="login-form" method="post" action="/">
                        {% csrf_token %}
                        <label for="name">User name:</label>
                        <input class="custom-input" type="text" id="name-modal" name="username" required>
                        <label for="email">Password</label>
                        <input class="custom-input" type="password" id="pass-modal" name="password" required>
                        <!-- <label for="message">Message Here:</label>
                        <textarea class="custom-input" id="message-modal" style="min-height: 150px;" name="message"
                            required></textarea> -->
                        <button class="" type="submit" id="submit-login-modal">Login</button>
                        <div class="login-status" id="login-status"></div>
                    </form>
                </div>
            </div>

            <!-- Email send function -->
            <script src="{% static 'peter_pekny_page/js/emailFunctions.js' %}"></script>
            <!-- Moda window functions - email form stuff -->
            <script src="{% static 'peter_pekny_page/js/modal_window.js' %}"></script>