        <footer>
            <nav role="footer">
                <ul class="menu">
                    <li class="hover-underline-animation"><a href="#">Home</a></li>
                    <li class="hover-underline-animation"><a href="#about" onclick="openSection('about')">About</a></li>
                    <li class="hover-underline-animation"><a href="#contacts"
                            onclick="openSection('contacts')">Contacts</a>
                    </li>
                    <li class="hover-underline-animation"><a href="#curriculum"
                            onclick="openSections('curriculum')">curriculum vitae</a></li>
                    <li class="hover-underline-animation"><a href="#emailme" onclick="openSection('emailme')">Email
                            Me</a>
                    </li>
                </ul>
            </nav>
            <div class="footer_text">
                <p>Stránka slúži ako učebný materiál pre kurz IT Step Academy | © 2024 | Peter Pekny</p>
                <!-- <p></p> -->
            </div>
        </footer>