        <!-- Highlight.js na formátovanie kódu -->
        <!-- su na vyber 2 moznosti - dark a ligh -->
        <!-- Tieto styly sa puziju, a ajax highlighter to podla toho naparsuje, a spravi stylovanie pre synatx code-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

        <!-- Skript sa musi spustit -->
        <script>hljs.highlightAll();</script>