            <div class="container white text-center">
                <!-- Nadpis sekcie -->
                <div class="row">
                    <h1 class="py-3">experience</h1>
                    <!-- <h3 class="text-center">for last 10 years...</h3> -->
                </div>
                <div id="curriculum" name="curriculum" class="hiding_content">
                    <!-- Diebold Nixdorf -->
                    <div class="row my-5">
                        <!-- Lava strana -->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 kratky-blok-vzdelanie text-center fa_settings">
                            <h2><i class="fa-solid fa-calendar-days"></i> 11/2023 - Present</h2>
                            <h3>Senior Application & Network Specialist</h3>
                        </div>
                        <!-- Prava strana -->
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 text-start experience-my">
                            <div class="row">
                                <div class="col-1">
                                </div>
                                <div class="col-10 border-bottom">
                                    <h3>Diebold Nixdorf, Prague</h3>
                                    <p>Responsible for the installation and operational support of Vynamic Transaction
                                        Engine applications, ensuring stable and reliable functionality across ATM
                                        systems
                                        in the fin-tech sector. Delivering end-to-end support including troubleshooting,
                                        24/7 system monitoring, and third-level technical assistance.</p>
                                    <p>Key contributions include automating Cash Management reports for clients,
                                        optimising
                                        data management processes, and implementing advanced job scheduling using Bash
                                        scripts and PowerShell. Proficient in supporting both Linux and Windows-based
                                        applications, with a focus on troubleshooting, debugging, log analysis, and
                                        reverse
                                        engineering.</p>
                                    <p class="experience-underline">Involved in preparing and configuring application
                                        monitoring solutions with Prometheus and Grafana, ensuring proactive system
                                        performance oversight. Strong communication skills, collaborating closely with
                                        clients and internal stakeholders to translate nonstandard requests into
                                        practical
                                        solutions.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Thales -->
                    <div class="row my-5">
                        <!-- Lava strana -->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 kratky-blok-vzdelanie text-center fa_settings">
                            <h2><i class="fa-solid fa-calendar-days"></i> 05/2022 - 10/2023</h2>
                            <h3>eSIM solutions, Application Implementation</h3>
                        </div>
                        <!-- Prava strana -->
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 text-start experience-my">
                            <div class="row">
                                <div class="col-1">
                                </div>
                                <div class="col-10 border-bottom">
                                    <h3>Thales - Gemalto, Prague</h3>
                                    <p>Implementation and Operation of GSMA M2M and Consumer+ Applications.
                                    </p>
                                    <p>Providing stable application solutions for GSMA certificated systems,
                                        24/7 support, trouble shooting, 3rd level support. Linux based
                                        applications JAVA - WebLogic.</p>
                                    <p>Control and setup of scheduled job's (Bash Scripts, Data Management,
                                        Data Transfers, data archiving). Trouble shooting, log files, debugging,
                                        reverse engineering.</p>
                                    <p class="experience-underline">Daily based communication with worldwide customers,
                                        supporting
                                        and
                                        providing information to do needed setup.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Diebold2 -->
                    <div class="row my-5">
                        <!-- Lava strana -->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 kratky-blok-vzdelanie text-center fa_settings">
                            <h2><i class="fa-solid fa-calendar-days"></i> 10/2017 - 04/2022</h2>
                            <h3>L3/L2 IT Application specialist</h3>
                        </div>
                        <!-- Prava strana -->
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 text-start experience-my">
                            <div class="row">
                                <div class="col-1">
                                </div>
                                <div class="col-10 border-bottom">
                                    <h3>Diebold-Nixdorf, Prague</h3>
                                    <p>Operation of Diebold-Nixdorf Payments and Cash Management
                                        applications (fin-tech industry).
                                    </p>
                                    <p>Providing stable application solutions for ATM systems, 24/7 support,
                                        trouble shooting, 3rd level support. Linux applications and Windows
                                        application support</p>
                                    <p>Control and setup of scheduled job's (Bash Scripts, PowerShell script,
                                        Data Management, Data Transfers, data archiving). Trouble shooting,
                                        log files, debugging, reverse engineering.</p>
                                    <p class="experience-underline">Communication with requestors, on daily basis and
                                        transition
                                        from
                                        nonstandard requests into real setup.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cleverbee -->
                    <div class="row pb-5">
                        <!-- Lava strana -->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 kratky-blok-vzdelanie text-center fa_settings">
                            <h2><i class="fa-solid fa-calendar-days"></i> 02/2016 - 07/2017</h2>
                            <h3>IT Administrator</h3>
                        </div>
                        <!-- Prava strana -->
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 text-start experience-my">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10 border-bottom">
                                    <h3>Cleverbee solutions s.r.o., Prague</h3>
                                    <p>Mainly administration of open source operating systems. Linux OS
                                        administration (Deb, RH) and WINDOWS 2000/2008/2012. (Migration
                                        to 2016)
                                    </p>
                                    <p>Setup Firewalls, Appache2, TOMCAT and WILDFLY for JAVA projects,
                                        network infrastructure, Active Directory, Exchange email server.
                                        Support for development team</p>
                                    <p class="">Project documentation, Hardware agenda.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>