{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Article</title>

    <!-- Styles for edit article -->
    <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/create-project.css' %}">
    <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/loadingPage.css' %}">
    <script src="{% static 'peter_pekny_page/js/loadingPage.js' %}"></script>


    <!-- My index styles for page -->
    <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/my_style.css' %}">

    <!-- CKeditor Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ckeditor5@44.1.0/dist/ckeditor5.css">
</head>


<body>


    <!-- Loader stranky -->
    <div id="loader-background">
        <div id="loader"></div>
        <div id="loading-text-1">PAGE IS LOADING ...</div>
    </div>

    <!-- Content that is hiding untill all elements are loaded  -->
    <div id="content" style="display: none;">

        <!-- Header -->
        <header style="opacity: 100% !important;">
            <nav>
                <!-- Hamburger button -->
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <!-- <i class="fas fa-bars"></i> -->
                    <i class="fas fa-hamburger"></i>
                </label>
                <!-- Menu Items -->
                <ul class="menu">


                    <!-- We are deciding which menu items we will show -->
                    {% if user.is_authenticated %}

                    <button type="submit" class="btn save" style="width: 150px; margin-top: 0 !important;" form="create_article_form">Save</button>


                    {% else %}

                    {% endif %}
                    <button class="btn cancel" style="width: 100px; margin-top: 0 !important;"
                        OnClick="location.href='{% url 'peter_pekny_page:index' %}'">Home</button>
                </ul>
            </nav>
        </header>


        <div class="container">
            <div class="title_block">
                <h2>Pridať nový článok</h2>
            </div>
            <form method="post" enctype="multipart/form-data" id="create_article_form">
                {% csrf_token %}
                {{ form.media }} <!-- Dôležité pre CKEditor -->
                {% comment %} {{ form.as_p }} <!-- Formulár sa zobrazí --> {% endcomment %}
                <div class="form-group">
                    <label for="id_title">Názov článku</label>
                    {{ form.title }}
                </div>

                <div class="form-group">
                    <label for="id_short_description">Krátky popis</label>
                    {{ form.short_description }}
                </div>

                <div class="form-group label_obsah">
                    <label for="id_content">Obsah článku</label>
                </div>
                <div class="">
                    {{ form.content }}
                </div>

                <div class="form-container">

                    <div class="form-group">
                        <label class="label_select" for="id_visibility">Viditeľnosť</label>
                        {{ form.visibility }}

                    </div>

                    <div class="form-group label_select">
                        <label for="id_category">Kategória</label>
                        {{ form.category }}

                    </div>


                    {% comment %} - zobrazenie obrázku zatial to nefunguje

                    <div class="form-group">
                        <label for="id_image">Obrázok</label>
                        {{ form.image }}
                    </div>

                    <label for="file-upload" class="custom-file-upload">
                        Vybrať súbor
                    </label>
                    <input id="file-upload" type="file">

                    {% endcomment %}


                </div>

                <div class="title_block">
                    <button id="saveBtn" class="btn save">Save</button>
                    <button type="button" class="btn cancel"
                        onclick="window.location.href='{% url 'peter_pekny_page:index' %}'">
                        Cancel</button>
                </div>
            </form>
            <a href="{% url 'peter_pekny_page:index' %}">Spet na index</a>
        </div>

    </div>

    <!-- Hiding top level navigation -->
    <script src="{% static 'peter_pekny_page/js/scroll_mouse_function.js' %}"></script>


</body>

</html>