{# load prerequisities#}
{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detail Article: {{ article.title }}</title>
    {% include 'peter_pekny_page/includes/support_css_and_js.html' %}

    {% load static %}

    <!-- Loading page effect -->
    <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/loadingPage.css' %}">
    <script src="{% static 'peter_pekny_page/js/loadingPage.js' %}"></script>

    <!-- Favicon load -->
    <link rel="shortcut icon" href="{% static 'peter_pekny_page/images/favicon.ico' %}" type="image/x-icon">

    <!-- font-awesome.min.css -->
    <!-- <link rel="stylesheet" href="assets/css/fontawsom-all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />




    <!-- Moj style sheet -->
    <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/my_style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/game_style.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/modal_styles.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/animated_modules.css' %}"> {% endcomment %}

</head>

<body>
    {# Loader stranky  #}
    {% include 'peter_pekny_page/includes/loader.html' %}
    
    <!-- Content that is hiding untill all elements are loaded - loading page, closed all way down  -->
    <div id="content" style="display: none;">

        <!-- Header -->
        <header>
            <nav class="navbar">
              <!-- Ľavá časť -->
              <div class="nav-left">
                <!-- sem môžeš neskôr dať logo -->
              </div>
          
              <!-- Stredná časť - SEARCH -->
              <div class="nav-center">
                    <form method="GET" action="{% url 'peter_pekny_page:search_results' %}" class="search-form">
                    {% comment %} <form method="GET" action="" class="search-form"> {% endcomment %}
                    <input type="text" name="q" placeholder="Hľadať..." minlength="3" required>
                  <button type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
          
              <!-- Pravá časť - MENU -->
              <div class="nav-right">
                
                    <!-- Hamburger button -->
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <!-- <i class="fas fa-bars"></i> -->
                        <i class="fas fa-hamburger"></i>
                    </label>
                <!-- MENU items -->
                <ul class="menu">
                    <!-- We are deciding which menu items we will show -->
                    {% if user.is_authenticated %}
                        <button class="btn-top save" style="width: 100px; margin-top: 0 !important;"
                            OnClick="location.href='{% url 'account_logout' %}'">Logout <i class="fa-solid fa-sign-out"></i></button>
                        {% if user.is_superuser %}
                            <button class="btn-top save" style="width: 150px; margin-top: 0 !important;"
                            OnClick="location.href='{% url 'peter_pekny_page:create_article' %}'">Create article <i class="fa-regular fa-file"></i></button>
                            <button class="btn-top save" style="width: 100px; margin-top: 0 !important;"
                            OnClick="location.href='{% url 'peter_pekny_page:article_edit' article_id=article.id %}'">Editovať <i class="fa-solid fa-pen-to-square"></i></button>
                        {% endif %}
                    {% else %}
                        <button class="btn-top save" style="width: 100px; margin-top: 0 !important;"
                            OnClick="location.href='{% url 'account_login' %}'">Login <i class="fa-solid fa-sign-in"></i></button>
                    {% endif %}
                    <button class="btn-top cancel" style="width: 100px; margin-top: 0 !important;"
                        OnClick="location.href='{% url 'peter_pekny_page:index' %}'">Home <i class="fas fa-home"></i></button>
                </ul>
              </div>
            </nav>
          </header>


        <!-- pridabam kvoli hornemu odsadeniu -->
        <div style="height: 45px;"></div>

        <!-- --------------- -->
        <!-- Article content -->
        <!-- --------------- -->
        <div id="article-content">
            <div class="container" style="opacity: 1 !important;">
                <!-- article heading -->
                <div class="title_block">
                    <h2>{{ article.title }}</h2>
                </div>
                <!-- article content  -->
                <div class="ck-content">
                    {{ article.content|safe }} {# safe is used to render html content from django as a text #}
                </div>
                <!-- Buttons -->
                <div class="title_block">
                    {% if user.is_superuser %} {# Check if user is superuser #}
                    <button class="btn save"
                        OnClick="location.href='{% url 'peter_pekny_page:article_edit' article_id=article.id %}'">Editovať <i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn cancel"
                        OnClick="location.href='{% url 'peter_pekny_page:index' %}'">Cancel <i class="fa-solid fa-xmark"></i></button>
                    {% endif %}
                </div>

                <br>
                <hr>

                <!-- -------------------------------------------------------- -->
                <!-- Comments section -> loading all comments in this section -->
                <!-- -------------------------------------------------------- -->

                <div class="title_block">
                    <h3>Komentáre ku článku</h3>
                </div>
                {% for comment in article.comments.all %}
                    <div class="comment-block">
                        <div class="comment_header">
                            {# comment author #}
                            <div class="comment-header-name">
                                <b>@{{ comment.author.username }}</b>: {{ comment.author.first_name }} {{ comment.author.last_name }} 
                            </div>
                            {# comment date #}
{% comment %} 
                                                        {# delete comment button #}
                                                        {% if user.id == comment.author.id %}
                                                        <div class="comment-header-delete">
                                                            <a href="{% url 'peter_pekny_page:delete_comment' comment_id=comment.id %}" 
                                                            onclick="return confirm('Naozaj chcete vymazať tento komentár?');">
                                                            <i class="fa-solid fa-square-xmark xmark"></i>
                                                            </a>
                                                        </div>
                                                        {% else %}
                                                        <div class="comment-header-date">
                                                            <i>{{ comment.created_at|date:"d.m.Y H:i" }}</i>
                                                        </div>
                                                        {% endif %} {% endcomment %}




                                                        {# delete comment button #}
                                                        {% if user.id == comment.author.id %}
                                                        
                                                            <div class="comment-header-date">
                                                                <i>{{ comment.created_at|date:"d.m.Y H:i" }}</i>
                                                            
                                                            <a href="{% url 'peter_pekny_page:delete_comment' comment_id=comment.id %}" 
                                                            onclick="return confirm('Naozaj chcete vymazať tento komentár?');">
                                                            <span style="margin-left:10px;"></span><i class="fa-solid fa-square-xmark xmark"></i>
                                                            </a>
                                                            </div>
                                                        {% else %}
                                                            <div class="comment-header-date">
                                                                <i>{{ comment.created_at|date:"d.m.Y H:i" }}</i>
                                                            </div>
                                                       

                                                        {% endif %}






                        </div>

                        <div class="ck-content comment-content">    
                            {{ comment.comment|safe }}
                        </div>

                    </div>

                    <!-- Line after comment -->
                    <div class="comment_after_line"></div>
                {% empty %}
                    <p>Zatiaľ žiadne komentáre.</p>
                {% endfor %}


                
                <!-- ----------------  -->
                <!-- Form for comment  -->
                <!-- ----------------  -->
                
                {# Overide default height of CKeditor5 to 140px #}
                <style> 
                    .ck.ck-content.ck-editor__editable {
                        min-height: 140px !important;
                    }
                </style>

                    <div class="title_block">
                        <h4 id="comments">Pridať komentár</h4>
                    </div>
                    
                    <form method="POST">
                        {% csrf_token %}
                        {# Nacitam CKeditor5 #}
                        {{ form.media }}

                        {# Check if user is already loged in #}
                        {% if request.user.is_authenticated %}
                            {{ form.comment }}
                            <div class="title_block">
                                <button class="btn save" type="submit">Odoslať komentár</button>
                            </div>
                        {% else %}
                            <div class="disabled-editor">
                                {{ form.comment }}
                            </div>
                            <p style="color: red; padding-bottom:0px;">Pre pridanie komentára sa musíte <a href="{% url 'account_login' %}">prihlásiť</a>.</p>
                            <p>Alebo sa prihláste cez:</p>
                           
                            <!-- Social login buttons -->
                        <div class="title_block">
                            <button class="btn btn-social" OnClick="location.href='{% provider_login_url 'google' %}?next={{ request.get_full_path }}?login_success=1'" >
                                <img src="{% static 'peter_pekny_page/images/Google__G__logo.svg' %}" alt="">Prihlásiť sa cez Google
                            </button>
                            <button class="btn btn-social" OnClick="location.href='{% provider_login_url 'github' %}?next={{ request.get_full_path }}?login_success=1'">
                                <img src="{% static 'peter_pekny_page/images/Github-desktop-logo-symbol.svg' %}" alt="" />Prihlásiť sa cez GitHub
                            </button>
                        </div>
                        {% endif %}
                    </form>
            </div>
        </div>

 
    </div><!-- End of content that is wissible after full page load-->

    {# Tento skript robim aby po prihlaseni s komentarovej sekcie bol prerolovany rovno na kometare #}
    <script>
        window.addEventListener('load', function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('login_success')) {
                // Oneskorenie na 200ms pre načítanie všetkých prvkov
                setTimeout(function() {
                    const commentSection = document.getElementById('comments');
                    console.log(commentSection);
                    if (commentSection) {
                        commentSection.scrollIntoView({ behavior: 'smooth' });
                    }
                }, 200);
            }
        });
    </script>

    {% include 'peter_pekny_page/includes/highlight-code.html' %}
    {% include 'peter_pekny_page/includes/arrow-up.html' %}

</body>

</html>