{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="title_block">
        <title>Create Project</title>
    </div>
    <link rel="stylesheet" href="{% static 'peter_pekny_page/styles/create-project.css' %}">
    <script src="{% static 'peter_pekny_page/js/loadingPage.js' %}"></script>

    <!-- nahrame bootstrap css styly s CDN -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ckeditor5@44.1.0/dist/ckeditor5.css">

    <!-- Toto je externy CKeditor - chcel by som to nejak osulit ale neviem jak -->
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script>



</head>

<body>


    <div id="article-content">
        <div class="container" style="opacity: 1 !important;">
            <div class="title_block">
                <h1>{{ article.title }}</h1>
                
            </div>

            <div class="ck-content">
                {{ article.content|safe }}
            </div>
            <div class="title_block">
                {% if user.is_authenticated %}
                <!-- <a href="{% url 'peter_pekny_page:article_edit' article_id=article.id %}"> -->
                    <button class="btn save" OnClick=" location.href='{% url 'peter_pekny_page:article_edit' article_id=article.id %}'">Editovať</button>
                <!-- </a> -->
                {% endif %}
            </div>

            <a href="{% url 'peter_pekny_page:index' %}">Späť hlavnu stranku</a>
        </div>
    </div>


    <!-- Highlight.js na formátovanie kódu -->
    <!-- su na vyber 2 moznosti - dark a ligh -->
    
    <!-- Tieto styly sa puziju, a ajax highlighter to podla toho naparsuje, a spravi stylovanie pre synatx code-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    
    <!-- Skript sa musi spustit -->
    <script>hljs.highlightAll();</script>



</body>

</html>